*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(https://www.xtrafondos.com/wallpapers/luces-triangulares-neon-3471.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.TITULO{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #0969d5; 
    text-shadow: -1px 0 #001e45, 0 1px #001e45, 1px 0 #001e45, 0 -1px #001e45, -2px 2px 0 #001e45, 2px 2px 0 #001e45, 1px 1px #001e45, 2px 2px #001e45, 3px 3px #001e45, 4px 4px #001e45, 5px 5px #001e45; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;
    
}

header{
    background-color: #080808; 
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 26, 255, 0.918); 
    border-bottom: 2px solid #151515; 
}
.option{
    color: white;
}

.caja_titulo{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 70px;
}


.titulo_body{
    background-color: #151515;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(44, 2, 255, 0.995);
}



ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.TODO{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 60px;
}


.conteiner{
    display: flex;

    justify-content: center;
    margin-top: 90px;
}


.box{
    

    text-align: center;
    align-content: center;
    margin-left: 70px;
    margin-right: 70px;
}


section.card {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: #090909;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card svg {
    fill: #000;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 3px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #000000;
    background-color: #f2f2f2;
    color: #ffffff;
}

.card__content {
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #080707;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: solid 5px rgb(54, 5, 249);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    padding-left: 5px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
}



.btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
    scale: 0.92;
}

.btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

.BOTON{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #111;
}

.info{
    background-color: #161819; /* Fondo oscuro */
    color: #ecf0f1;           /* Texto claro */
    padding: 20px;            /* Espaciado interno */
    border-radius: 10px;      /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(17, 0, 255, 0.841); /* Sombra */
    max-width: 1000px;         /* Ancho máximo */
    margin: 20px auto;        /* Centrando la caja */
    font-family: Arial, sans-serif; /* Fuente */
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}