
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://www.xtrafondos.com/wallpapers/lineas-geometricas-de-neon-abstracto-9571.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.TITULO{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #00ff1e; 
    text-shadow: -1px 0 #001e45, 0 1px #001e45, 1px 0 #001e45, 0 -1px #001e45, -2px 2px 0 #001e45, 2px 2px 0 #001e45, 1px 1px #001e45, 2px 2px #001e45, 3px 3px #001e45, 4px 4px #001e45, 5px 5px #001e45; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;
    
}

header{
    background-color: #080808; 
    padding: 20px;
    box-shadow: 0 2px 5px rgb(0, 255, 51); 
    border-bottom: 2px solid #151515; 
}
.option{
    color: white;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.caja_titulo{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 70px;
}

.titulo_body{
    background-color: #151515;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgb(0, 255, 51);
}

.TODO{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 60px;
}




.conteiner{
    display: flex;

    justify-content: center;
    margin-top: 90px;
}


.box{
    

    text-align: center;
    align-content: center;
    margin-left: 70px;
    margin-right: 70px;
}


section.card {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: #090909;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card svg {
    fill: #000;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 3px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #000000;
    background-color: #f2f2f2;
    color: #ffffff;
}

.card__content {
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #080707;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: solid 5px rgb(54, 5, 249);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    padding-left: 5px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
}

.precio{
    display: flex;
    justify-content: center;
    

    width: 110%;
    height: 80px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}